@charset "utf-8";
:root{
    --bg-cover : no-repeat 50% / cover;
}
html{
    font-family: 'Noto Sans KR', Malgun Gothic, 돋움, 굴림, Open Sans;
    font-size: 17px;
    text-transform: uppercase;
    scroll-behavior: smooth;
}
a{
    color: inherit;
    text-decoration: none;    
}
.container{
    position:relative;
}

/* header */

.container header {
    position:sticky;
    top: 0;left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 0 1px 5px 1px rgb(0 0 0 / 20%);
    z-index: 9999;
}
.container header .logo img {
    display: flex;
    margin: 25px 50px;
    cursor: pointer;
}
.container header .mj .btn img{
    padding: 0 6px;
}
.container header .mj{
    margin: 31px;
}

.container header nav {
    position: relative;
    display: flex;
}
.container header nav .gnb {
    display: flex;
    
}
.container header nav .gnb > li:hover {
    border-bottom:3px solid #0a2268;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}
.container header nav .gnb > li {
    position:relative;
    width: 150px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    z-index: 99;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}
.container header nav .gnb > li > .gnb-sub {
    position: absolute;
    top: 90px;
    left: 0;
    width: 150px;
    height: 0;
    overflow: hidden;
    z-index: 9999;
    transition: height 0.4s ease-in-out;
}
.container header nav .gnb > li > .gnb-sub.open {
    height: 190px;
    transition: height 0.4s ease-in-out;
}
.container header nav .gnb > li > .gnb-sub > ul {
    padding: 30px 0;
}
.container header nav .gnb > li > .gnb-sub > ul > li {
    font-size:15px; 
    font-weight:normal; 
    padding:7px 0 7px 0;
    line-height:18px; 
    letter-spacing:-0.025em; 
    color:#555; 
    display:block; 
    text-align:center;
    transition:0.3s ease;
    z-index: 999;
}
.container header nav .gnb > li > .gnb-sub > ul > li:hover{
    color: #0a2268;
    text-decoration: underline;
}

.sub-gnb{
    width: 100%;
    position: absolute;
    top: 90px;left: 0;
    height: 0px;
    background-color: #fff;
    opacity: 1;
    z-index: 9;
    transition: height 0.4s ease-in-out;
}
.sub-gnb.open{
    height: 190px;
    transition: height 0.4s ease-in-out;
    border-top:1px solid #ddd;border-bottom:1px solid #ddd;
    box-sizing: border-box;
}

.container header .mj .btn img{
    cursor: pointer;
}

h3{
    font-family: 'Noto Sans KR Bold';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}
h2{
    margin: 0 0 30px 0;
    font-family: 'Noto Sans KR Bold';
    font-size: 66px;
    letter-spacing: 3px;

}
h4{
    font-size: 36px;
    color: #333333;
    font-weight: bold;
    margin: 14px auto;
}
p{
    font-size: 18px;
    margin: 5px auto;
    color: #eeeeee;
}
.container main .slide_img .s_img{
    position: relative;
    width: 100%;
    height: 730px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s ease-in-out;
}
.container main .slide_img .img_box1{
    background:url(../public/images/visual01.jpg);
}
.container main .slide_img .img_box2{
    background:url(../public/images/visual02.jpg);
}
.container main .slide_img .img_box3{
    background:url(../public/images/visual03.jpg);
}
.slide_img {
    :global(.swiper-pagination-bullet) {
      background: white;
      width: 1rem;
      height: 1rem;
      border-radius: .5rem;
      opacity: 1;
  }
  
  :global(.swiper-pagination-bullet-active) {
    background-color: blue;
    width: 5rem;
    height: 1rem;
    border-radius: .5rem;
  }
}

/* main ms */
.container main .main_service {
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 50px 15px 100px 15px;
    
}
.container main .main_service h4,
.container main .main_service p{
    text-align: center;
}
.container main .main_service p{
    margin-bottom: 30px;
    color: #888888;
}
.container main .main_service .ms_imgbox{
    margin: 0 auto;
    width:1300px;
}
.container main .main_service .ms_imgbox ul{
    display: flex;
    justify-content: center;
}
.container main .main_service .ms_imgbox ul li{
    position: relative;
    width: 33.3333%;
    padding: 10px;
}
.container main .main_service .ms_imgbox ul li a{
    width: 100%;
    position: relative;
}
.container main .main_service .ms_imgbox ul li a .ms_img{
    position: relative;
    overflow: hidden;
}
.container main .main_service .ms_imgbox ul li a img{
    display: block;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}
.container main .main_service .ms_imgbox ul li .ms_textbox{
    background-color: #fff;
    padding: 25px;
}
.container main .main_service .ms_imgbox ul li .ms_textbox h5{
    font-size: 22px; 
    margin: 10px 0;
}
.container main .main_service .ms_imgbox ul li .ms_textbox h6{
    font-size: 14px; 
    margin: 5px auto 20px; 
    color:#777;
    line-height: 20px;
}
.container main .main_service .ms_imgbox ul li .ms_textbox .ms_btn {
    display:inline-block; 
    font-size: 12px; 
    padding: 9px 30px;
    border: 1px solid #aaa; 
    color: #444; text-align: left;
    transition: 0.5s ease;
}
.container main .main_service .ms_imgbox ul li a:hover .ms_img img{
    transform: scale(1.1);
}
.container main .main_service .ms_imgbox ul li:hover .ms_textbox .ms_btn{
    background-color: #0a2268;
    border: 1px solid #0a2268;
    color: #fff;
}


/* main op */
.container main .our_product h4,
.container main .our_product p{
    text-align: center;
}
.container main .our_product h4{
    padding: 50px 0 0;
}
.container main .our_product p{
    color: #888;
    padding: 0 0 40px 0;
}
.container main .our_product .product .op{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 45.2222%;
}
.container main .our_product .product .box1{
    /* height: 366.5px; */
    background: url(../public/images/m-op01.jpg) var(--bg-cover);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.container main .our_product .product .box2{
    background: url(../public/images/m-op02.jpg) var(--bg-cover);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.container main .our_product .product .box3{
    background: url(../public/images/m-op03.jpg) var(--bg-cover);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.container main .our_product .product .box4{
    background: url(../public/images/m-op04.jpg) var(--bg-cover);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.container main .our_product .product .box5{
    background: url(../public/images/m-op05.jpg) var(--bg-cover);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.container main .our_product .product .box6{
    background: url(../public/images/m-op06.jpg) var(--bg-cover);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.container main .our_product .product .op_img{
    position: relative;
    overflow: hidden;
    height: 366.5px;
}
.container main .our_product .product .op_img .op-title {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(30px);
    /* text-align: center; */
    color: #fff;
    opacity: 0;
}
.container main .our_product .product .op_img:hover .op-title{
    opacity: 1;
    transition: 0.4s ease;
    transform: translateY(0);
    cursor: pointer;
    background-color: rgba(0,0,0,0.74);
}
.container main .our_product .product .op_img .op-title h5{
    position: absolute;
    top: 40%;left: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    margin: 0 0 15px 0;
    
}
.container main .our_product .product .op_img .op-title .op-btn{
    position: absolute;
    top: 55%;left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    font-size: 12px;
    padding: 8px 25px;
}



/* main feature */
.container main .feature{
    margin: 110px auto;
    width: 1300px;
}
.container main .feature .f_part1{
    padding: 70px 0;
    display: flex;
    justify-content: center;
}
.container main .feature .f_part1 img{
    display: block;
    padding: 0 20px;
}
.container main .feature .f_part1 .f_textbox1{
    padding: 0 20px;
    box-sizing: border-box;
}
.container main .feature .f_part1 .f_textbox1 .f_tt1,
.container main .feature .f_part1 .f_textbox1 .f_tt2
{
    font-family: "Noto Sans KR Medium";
    font-weight: 500;
}
.container main .feature .f_part1 .f_textbox1 .f_tt1{
    font-size: 60px;
    margin: 30px 0;
    color: #111;
}
.container main .feature .f_part1 .f_textbox1 .f_tt2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    line-height: 35px;
}
.container main .feature .f_part1 .f_textbox1 .f_tt3{
    color: #777;
    line-height: 24px;
}
.container main .feature .f_part1 .f_textbox1 .f_btn{
    display: inline-block;
    font-size: 12px;
    margin-top: 30px;
    padding: 8px 30px;
    color: #555;
    background-color: #fff;
    border: 1px solid #bbb;
}
.container main .feature .f_part1 .f_textbox1 .f_btn:hover{
    background-color: #0a2268;
    border-color: #0a2268;
    color: #fff;
}
.container main .feature .f_part2{
    padding: 70px 0;
    display: flex;
    justify-content: center;
}
.container main .feature .f_part2 img{
    display: block;
    padding: 0 20px;
}
.container main .feature .f_part2 .f_textbox2{
    padding: 0 20px;
    flex-basis: 346px;
    box-sizing: border-box;
}
.container main .feature .f_part2 .f_textbox2 .f_tt1,
.container main .feature .f_part2 .f_textbox2 .f_tt2
{
    font-family: "Noto Sans KR Medium";
    font-weight: 500;
}
.container main .feature .f_part2 .f_textbox2 .f_tt1{
    font-size: 60px;
    margin: 50px 0 30px;
    color: #111;
}
.container main .feature .f_part2 .f_textbox2 .f_tt2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    line-height: 35px;
}
.container main .feature .f_part2 .f_textbox2 .f_tt3{
    color: #777;
    line-height: 24px;
}
.container main .feature .f_part2 .f_textbox2 .f_btn{
    display: inline-block;
    font-size: 12px;
    margin-top: 30px;
    padding: 8px 30px;
    color: #555;
    background-color: #fff;
    border: 1px solid #bbb;
}
.container main .feature .f_part2 .f_textbox2 .f_btn:hover{
    background-color: #0a2268;
    border-color: #0a2268;
    color: #fff;
}

/* main business */
.container main .business{
    width: 100%;
    background-color: #f2f2f2;
    padding: 50px 15px 100px 15px;
}
.container main .business .gb {
    margin: 0 auto;
    width: 1300px;
}
.container main .business .gb .gb_title{
    text-align: center;
}
.container main .business .gb .gb_title h4{
    padding: 20px 0 0;
    font-family: 'Noto Sans KR Bold';
    font-size: 34px;
    /* font-weight: 700; */
}
.container main .business .gb .gb_title p{
    padding: 0 0 30px 0;
    font-weight: 400;
    color: #888;
}
.container main .business .gb ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.container main .business .gb ul li{
    width: 23.33332%;
    
}
.container main .business .gb ul li .gb_imgbox{
    width: 100%;
    height: 457px;
    overflow: hidden;
}
.container main .business .gb ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.4s ease; 
}
.container main .business .gb ul li .gb_textbox{
    background-color: #fff;
    padding: 15px;
}
.container main .business .gb ul li .gb_textbox h5{
    margin-top: 3px;
    color: #333333;
    font-family: "Noto Sans KR Medium";
    font-weight: 500;
    font-size:18px;
}
.container main .business .gb ul li .gb_textbox h6{
    margin-top: 7px;
    line-height: 20px;
    color: #777777;
    font-size:13px;
}
.container main .business .gb ul li:hover img{
    transform: scale(1.1);
}

/* main inside */
.container main .inside{
    background:url(../public/images/visual02.jpg) var(--bg-cover);
}
.container main .inside .mi{
    text-align: center;
    margin: auto;
    padding: 120px 30px;
}
.container main .inside .mi h4{
    padding-top: 5px;
    font-size: 34px;
    color: #fff;
    font-family: "Noto Sans KR Medium";
    font-weight: 500;
}
.container main .inside .mi p{
    padding: 5px 0 30px;
}
.container main .inside .mi ul{
    display: flex;
    justify-content: center;
}
.container main .inside .mi ul li{
    margin: 0 10px;
    width: 198px; height: 136px;
    /* box-sizing: border-box; */
    padding: 30px 15px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s ease;
}
.container main .inside .mi ul li img{
    margin: auto;
    display: block;
}
.container main .inside .mi ul li h5{
    margin: 15px 0 0;
    font-size: 16px;
}
.container main .inside .mi ul li h6{
    margin: 10px 0 0;
    font-size: 13px;
    line-height: 20px;
}
.container main .inside .mi ul li:hover{
    background-color: #0a2268;
    border: 1px solid #0a2268;
}


/* footer */
.container .footer-wrap1{
    width: 100%;
    background-color: #505358;
    padding: 15px 0 10px 0;
    box-sizing: border-box;
 
}
.container .footer-wrap1 .linkline ul{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: 0 0 10px;
}
.container .footer-wrap1 .linkline ul li{
    padding: 0 15px;
    color: #eee;
}
.container .footer-wrap2{
    width: 100%;
    position: relative;
    clear: both;
    margin: 0;
    padding: 25px 0 60px 0;
    background-color: #696c72;
}
.container .footer-wrap2 .foot_icon ul{
    display: flex;
    justify-content: center;
    padding: 10px 0 20px;
}
.container .footer-wrap2 .foot_icon ul li{
    padding: 0 5px;
}
.container .footer-wrap2 .address {
    margin: auto;
    text-align: center;
    width: 1070px;
    line-height: 30px;
}
.container .footer-wrap2 .address ul{
    font-size: 14px;
    color: #ccc;
}
.container .footer-wrap2 .address ul li{
    display: inline-block;
    background: url(../public/images/fnb-line.png) right 9px no-repeat;
    margin-right: 6px;
    padding-right: 11px;
}

.container .footer-wrap2 p{
    font-size: 14px;
    text-align: center;
    color: #bbb;
    margin: 15px;
}